@page
@model ProjetBar.Pages.Administrateurs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Page Administrateur</h1>

<p>
    <a asp-page="List"><button style="height:50px;width:200px;background-color:white;">Liste des Administrateurs</button></a>
</p>
<p>
    <a asp-page="../Serveurs/Index"><button style="height:50px;width:200px;background-color:white;">Liste des Serveurs</button></a>
</p>
<p>
    <a asp-page="../Barmans/Index"><button style="height:50px;width:200px;background-color:white;">Liste des Barmans</button></a>
</p>
<p>
    <a asp-page="../Caissiers/Index"><button style="height:50px;width:200px;background-color:white;">Liste des Caissiers</button></a>
</p>
<p>
    <a asp-page="../LstTables/Index"><button style="height:50px;width:200px;background-color:white;">Liste des Tables</button></a>
</p>
<p>
    <a asp-page="../Articles/Index"><button style="height:50px;width:200px;background-color:white;">Liste des Articles</button></a>
</p>