@page
@model ProjetBar.Pages.Articles.CreateModel

@{
    ViewData["Title"] = "Ajout d'Article";
}

<h1>Ajout d'Article</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Article.ArtNom" class="control-label"></label>
                <input asp-for="Article.ArtNom" class="form-control" />
                <span asp-validation-for="Article.ArtNom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.ArtPrix" class="control-label"></label>
                <input asp-for="Article.ArtPrix" style="height:50px;" id="ArtPrixValue" class="form-control" />
                <span asp-validation-for="Article.ArtPrix" id="ArtPrixWarn" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input id="submitButton" type="submit" style="color:black;height:50px;width:174px;font-size:20px;background-color:rgb(153, 255, 158);" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-page="Index"><button style="height:50px;width:174px;font-size:20px;background-color:white;">Retour</button></a>
</div>

<script>
    const patternPrix = /^[0-9]{1,3}([,.][0-9]{1,2})?$/;
    const submitButton = document.getElementById('submitButton');
    const ArtPrixValue = document.getElementById('ArtPrixValue');
    const ArtPrixWarn = document.getElementById('ArtPrixWarn');

    submitButton.addEventListener('click', function (event) {
        if (patternPrix.test(ArtPrixValue.value)) 
        {
            ArtPrixWarn.innerHTML = "";
            ArtPrixValue.style.border = "rgb(212,217,243) solid 1px";
        }
        else
        {
            ArtPrixWarn.innerHTML = "Le format n'est pas bon";
            ArtPrixValue.style.border = "red solid 1px";
            event.preventDefault();
        }
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
