@page
@model ProjetBar.Pages.LstTables.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Suppression Table</h1>

<div>
    <h4>Supprimer cette Table ?</h4>
    <hr />

    <b>Table numéro @Html.DisplayFor(model => model.LstTable.TablNum)</b>
    <br /><br />
    <form method="post">
        <input type="hidden" asp-for="LstTable.ID" />
        <input type="submit" style="height:50px;width:174px;font-size:20px;background-color:red;" value="Delete" class="btn btn-danger" />
        <br /><br />
    </form>
    <a asp-page="./Index"><button style="height:50px;width:174px;font-size:20px;background-color:white;">Retour</button></a>
</div>
